<div class="add-shift-container">
  <h2>Add Shift</h2>
  <form (submit)="saveShift()">
    <label>Date:</label>
    <input type="date" [(ngModel)]="shift.date" name="date" required>
    
    <label>Start Time:</label>
    <input type="time" [(ngModel)]="shift.startTime" name="startTime" required>
    
    <label>End Time:</label>
    <input type="time" [(ngModel)]="shift.endTime" name="endTime" required>
    
    <label>Hourly Rate:</label>
    <input type="number" [(ngModel)]="shift.hourlyRate" name="hourlyRate" required>
    
    <label>Workplace:</label>
    <select [(ngModel)]="shift.workplace" name="workplace" required>
      <option *ngFor="let place of workplaces" [value]="place">{{ place }}</option>
    </select>
    
    <label>Shift Name:</label>
    <input type="text" [(ngModel)]="shift.shiftname" name="shiftname" required>
    
    <label>Comments:</label>
    <textarea [(ngModel)]="shift.comments" name="comments"></textarea>
    
    <button type="submit">Save Shift</button>
  </form>
</div>
