<div class="profile-container">
    <h2>Edit Profile</h2>
    <form (submit)="updateProfile()">
      <label>First Name:</label>
      <input type="text" [(ngModel)]="user.firstName" name="firstName" required>
    
      <label>Last Name:</label>
      <input type="text" [(ngModel)]="user.lastName" name="lastName" required>
    
      <label>Email:</label>
      <input type="email" [(ngModel)]="user.email" name="email" required>
    
      <button type="submit">Update Profile</button>
    </form>
    
  </div>